Image
Image.gz
System.map
abi.prop
abi.xml
abi_symbollist
abi_symbollist.report
boot-gz.img
boot-img.tar.gz
boot-lz4.img
boot.img
dtb.img
gki_certification_tools.tar.gz
gki-info.txt
initramfs.img
kernel-headers.tar.gz
kernel-uapi-headers.tar.gz
modules.builtin
modules.builtin.modinfo
ramdisk.gz
system_dlkm.img
system_dlkm_staging_archive.tar.gz
test_mappings.zip
unstripped_modules.tar.gz
vmlinux
vmlinux.symvers
vendor_dlkm.img
